<!DOCTYPE HTML>
    <HTML>
    <head>
        <title>Find Your Adventure - Packages</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>

        <style>
            body
                {
                    background-image: url("{{ url_for('static', filename='Img/back1.jpg') }}");
                    background-size: cover;

                    background-color: rgb(0, 69, 111);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;
                    background-size: 100%;
                    

                    font-family: 'Georgia, serif'; 
                    padding: 10px; 
                }
        </style>
        <header>
            

            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/TravelpediaLogo.png') }}" alt="TravelpediaLogo"></a>
            
            <h1>Travelpedia</h1>
        </header>
        
        <nav>
            <a href="../home.html">Home</a>
            <a href="../html/FindYourAdventure.html">Plan Your Adventure</a>
            <a href="../html/AboutUS.html">About Us</a>
            <a href="../html/Login.html" class="signup">Login</a>

        </nav>
        
        <div class="aboutText">
            <br>

            <h1>We love traveling, and we want you to love it too</h1>
            <p>
                As people who have always loved to travel and have had a passion for exploring new and adventurous 
                locations, we believe everyone has that adventure spirit within them.
                We intend to bring it out and give them a trip of a lifetime.
                Traveling is a life-changing experience that everyone should consider. It offers a host of benefits, 
                including cultural immersion, personal growth, and education. When individuals travel, they can immerse themselves in different cultures, learn new languages, and gain a deeper understanding and appreciation for diversity. Moreover, traveling can be an opportunity for individuals to step out of their comfort zones, experience new things, and build confidence. It can also provide a unique opportunity to learn about history, geography, art, and other subjects in a hands-on and experiential way. Ultimately, traveling offers an education that cannot be found in textbooks or classrooms and provides a chance for personal growth and enrichment.
            </p>
        </div>

        <div class = aboutcontainer>
            <div class = leftabout>
                <a>

                    <img src="{{ url_for('static', filename='/img/ASRahul.jpg') }}" alt="Rahul" width="100%"></a>
                   
            </div>
            <br>

            <div class = rightabout>

                <h1>Rahul Gomedhikam</h1>
                <p>Hi, I'm Rahul, a former trek leader with a passion for travel. I helped conceive this project with like-minded individuals who share my interest in exploring new destinations around the world.</p>
                <br>
                <p>In Javascript, I have learned to create interactive web pages and handle user events. 
                    With Chart.js, I have gained the ability to create dynamic and responsive data 
                    visualizations on the web. For this assignment I am responsible for designing the visual layout.</p>
           


            </div>    
            
            
                <div class = leftabout>
                    <img src="{{ url_for('static', filename='/img/ABUday.jpg') }}" alt="Uday" width="100%"></a>
                </div>

                <div class = rightabout>

                    <h1>Uday Ganti</h1>
                    <p>Hi, I am Uday, I have prior experience in Project Management, Database Management, and Content Marketing. </p>
                    <br>
                    <p> 
                        In addition to designing and builting the foundational structure of the webpages using HTML and CSS,
                        I was also responsible for collecting the text, images and information. I integrated the JavaScript for
                        the changing images on the landing page as well as the tabs in the ininerary pages. I aided in building of the signup
                        and login pages as well.
                    </p>
                </div>
                <div>
                
              
            </div>
        </div>

        <br>
        <br>


        <div class = aboutcontainer>
            <div class = leftabout>
                <img src="{{ url_for('static', filename='/img/ABBindu.jpg') }}" alt="Bindu" width="100%"></a>

            </div>

            <div class = rightabout>

                <h1> HimaBindu Krishnath</h1>
                <p>Hi, I am Bindu, I have a prior experience as an Earthquake Engineer and currently pursing BAIS at USF.</p>
                <p> 
                     After completing HTML and CSS, I turned my attention to JavaScript. Despite being new to 
                     the language, I had an excellent opportunity to learn. Throughout this project, I worked 
                     with my team to design several components of the product page and ensured the website functioned 
                     smoothly by merging multiple HTML files and troubleshooting any issues.</p>
            </div>    
            
            
                <div class = leftabout>
                    <img src="{{ url_for('static', filename='/img/Haritha.jpg') }}" alt="Haritha" width="100%"></a>
                </div>

                <div class = rightabout>

                    <h1>Haritha</h1>
                    <p>Hello, I am Haritha! I am currently pursuing a Masters in Business Analytics and Information Systems at USF.
                        <br>
                        This transition of HTML to Javascript has been a great learning curve. I focused on developing charts 
                        using Chart. js, I incorporated bar charts to visualize data meaningfully. Additionally, I also implemented 
                        form validations for both the signup and login pages to ensure that users input valid information.
                        Overall, the inclusion of these features added robustness and interactivity to the project, enhancing 
                        its usability and functionality.
                    </p>
                </div>

              
            </div>
        </div>
        
        
        
</body>
</html>