<!DOCTYPE HTML>
<HTML>
    <head>
        <title>Find Your Adventure - Packages</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"


    </head>

    <body>
        <header>
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/TravelpediaLogo.png') }}" alt="TravelpediaLogo"></a>
            
            <h1>Travelpedia</h1>
        </header>
        <nav>
            <a href="../home.html">Home</a>
            <a href="../html/FindYourAdventure.html">Plan Your Adventure</a>
            <a href="../html/AboutUS.html">About Us</a>
            <a href="../html/Login.html" class="signup">Login</a>

        </nav>
        <style>
            body
                {
                    background-image:url("../Static/Img/back1.jpg");
                    background-size: cover;

                    background-color: rgb(0, 69, 111);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;
                    background-size: 100%;
                    

                    font-family: 'Georgia, serif'; 
                    padding: 10px; 

                }
        </style>
        <br>
        <div class = container>
            <div class = leftImg>

                <img src="{{ url_for('static', filename='img/NiagraFalls.jpg') }}" alt="Niagra Falls" width="100%"></a>

            </div>

            <div class = rightText>

                <h1>Niagra Falls</h1>
                <p>Niagara Falls, a spectacular waterfall in the NIAGARA RIVER, is the world's greatest waterfall by volume at 2832 m3. It is split in two by Goat Island. The American Falls are 59 m high (21-34 m to rock debris at the base of the falls) and 260 m wide and carry about 10% of the flow. The Canadian, or Horseshoe, Falls are 54 m high and 670 m wide, with the remaining 90% of the flow. However, only the Canadian Falls fall freely to the Maid-of-the-Mist pool, where they have excavated a pool as deep or deeper than they are tall. The falls were formed some 14 000 years ago as retreating glaciers exposed the NIAGARA ESCARPMENT, permitting the waters of Lake ERIE, which formerly drained south, to flow northward into Lake ONTARIO.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class = anc href="../html/NiagraFalls.html">Click Here for More...</a>

            </div>
        </div>
        
        <br>

        <div class = container>

            <div class = leftImg>
                <img src="{{ url_for('static', filename='img/StatueOfLiberty.jpg') }}" alt="StatueOfLiberty" width="100%"></a>
             
           </div>

            <div class = rightText>

                <h1>Statue of Liberty</h1>
                <p>It all started at dinner one night near Paris in 1865. A group of Frenchmen were discussing their dictator-like emperor and the democratic government of the U.S.
                    They decided to build a monument to American freedom—and perhaps even strengthen French demands for democracy in their own country. 
                    At that dinner was the sculptor Frédéric-Auguste Bartholdi (bar-TOLE-dee). He imagined a statue of a woman holding a torch burning with the light of freedom.
                     Turning Bartholdi's idea into reality took 21 years. French supporters raised money to build the statue, and Americans paid for the pedestal it would stand on. 
                     Finally, in 1886, the statue was dedicated.
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class = anc href="StatueOfLiberty.html">Click Here for More...</a>
            </div>
        </div>

        <br>

        <div class = container>

            <div class = leftImg>
                <img src="{{ url_for('static', filename='img/Goldengate.jpg') }}" alt="Goldengate Bridge" width="100%"></a>
            </div>

            <div class = rightText>

                <h1>Golden Gate Bridge</h1>
                <p>The Golden Gate Bridge is a suspension bridge spanning the Golden Gate, the one-mile-wide (1.6 km) strait connecting San Francisco Bay and the Pacific Ocean.
                     The structure links the U.S. city of San Francisco, California—the northern tip of the San Francisco Peninsula—to Marin County, carrying both U.S.
                      Route 101 and California State Route 1 across the strait. It also carries pedestrian and bicycle traffic, and is designated as part of U.S. Bicycle Route 95.
                       Being declared one of the Wonders of the Modern World by the American Society of Civil Engineers, the bridge is one of the most internationally recognized symbols of San Francisco and California.
                        It was initially designed by engineer Joseph Strauss in 1917. The bridge was named for the Golden Gate strait, the channel that it spans.
                </p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <a class = anc href="../html/GoldenGate.html">Click Here for More...</a>
            </div>
        </div>
    </body>
</HTML>