<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payments Page</title>
    <style>
        body
        {
            text-align: center;
        }
    </style>        
</head>
<body>
    <header>
        <a href="../home.html">
            <img src="{{ url_for('static', filename='img/TravelpediaLogo.png') }}" alt="TravelpediaLogo">
        </a>
        <h1>Travelpedia</h1>
    </header>
    <h1>
        This page will lead to payment methods such as Paypal or Credit Card!
    </h1>
</body>
</html>